// emerald greens

$emerald-dark: #1BAA6F;
$emerald-bright: #00FDC8;

// emerald other colors
$emerald-amber: #FFD633;

// permit status colors
$status-draft: #0099ff; //placeholder
$status-pending: #FFD633;
$status-rejected: #E67E22;
$status-approved: #1BAA6F;
$status-expired: #f90606;

// emerald grey-scale

$charcoal: #3F464A;
$grey-light: #AAAAAA;
$grey-lighter: #E6E6E6;
$grey-lightest: #F9F9F9;


// bootstrap colors:
$red: #f90606;
$blue: #0099ff;
$yellow: #ffff33;
$orange: #E67E22;
$green: #1BAA6F; // copied the hexadecimal value from $emerald-dark
$gray: #3F464A; // copied the hexadecimal value from emerald $charcoal
$light-gray: #E6E6E6; // copied the hexadecimal from emerald $grey-lighter
