// emerald greens

$emerald-dark: #1BAA6F;
$emerald-bright: #00FDC8;

// emerald grey-scale

$charcoal: #3F464A;
$grey-light: #AAAAAA;
$grey-lighter: #E6E6E6;
$grey-lightest: #F9F9F9;


// template colors:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
