.home-body {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.body-list {
  list-style: none;
  padding-left: 0;
  p {
    padding-bottom: 20px;
  }
  h2 {
    padding-bottom: 20px;
  }
}
.phone {
  height: 400px;
  @media only screen and (max-width: 576px) {
    display:none;
  }
  @media only screen and (max-width: 992px) {
    display: none;
  }
}

.header-b-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

