// Import page-specific CSS files here.
@import "home";

.top-bar {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-emerald-top {
  color: white;
  background-color: $emerald-dark;
  height: 35px;

}
