

.top-three-sections {
  display: flex;
  flex-direction: row;
  height: 80vh;
  margin-bottom: 0px;
  margin-top: 20px;
}

.important-details {
  width: 50vw;
  display: flex;
  flex-direction: row;
}

.title-section {
  width: 25vw;
  padding-left: 10px;
  overflow: scroll;
  // align-items: center;
}

.status-section {
  width: 25vw;
  margin-left: 15px;
  overflow: scroll;
  // vertical-align: center;
}


.main-content {
  width: 50vw;
  height: 80vh;
  margin-left: 15px;
  overflow: scroll;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.show-buttons {
  display: flex;
  flex-direction: column;
}

.people-show {
  display: flex;
}

.submit-btn {
  color: $charcoal;
  background-color: $emerald-dark;
  text-align: center;
}
.comment-section {
}

.show-cont {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  // margin-top: 20px;
  p {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .light {
    color: $grey-light;
    font-size: 12px;
    margin-bottom: 0;
  }
  .btn-show {
    text-align: left;
    padding-left: 0;
    font-size: 14px;
    border-bottom: 2px solid rgba(153, 221, 204, 0.65);
    &:hover {
    border-bottom: 2px solid $emerald-dark;
    }
  }
}

h3 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

.perm-av {
  margin-right: 10px;
}

.i-green {
  color: green;
}

.i-yellow {
  color: $red;
}

.i-red {
  color: red;
}

.i-grey {
  color: $grey-light;
}

.i-trans {
  opacity: 0.2;
}

#posted {
  width: 40vh;
}

#post-head {
  text-align: center;
}

#my-text {
  margin-left: 3vw;
  float: right;
  background-color: $emerald-dark;
  color: $charcoal;
  width: fit-content;
  padding: 0 5px;
}

#response {
  float: left;
  background-color: $charcoal;
  color: $emerald-dark;
  padding: 0 5px;
}

