// Css for main section (Middle one) Section Show

.mechanical-dig {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.center-detail {
  width: 40vw;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.section-item {
  border-bottom: 1px solid rgba(98,98,98,0.1);
  height: 12%;
  background-color: $grey-lightest;
  padding-top: 8px;
  transition: 0.3s;
  span {
    margin-top: 8px;
    font-size: 12px;
  }
  p {
    margin-left: 8px;
  }
  &:hover {
    border-left: 2px solid $emerald-bright;
    background-color: white;
    cursor: pointer;
  }
}

.container-permit-details {
  // margin-top: 24px;
  line-height: 42px;
  border-top: none;
  h2 {
    margin-bottom: 16px;
  }
}

.selected-container {
  width: 60%;
}

.section-container {
  border: 1px solid $grey-lighter;
  border-bottom: none;
  width: 20%;
}


// Css for User card Approver and author

.author-avatar, .approver-avatar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 180px;
  p {
    margin-bottom: 0;
    font-size: 12px
  }
}

.permit-show {
  margin-right: 4%;
}

.detail-card-permit {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
}

// Css for BTN

.action-btn-container {
  background-color: $grey-lightest;
  border: 1px solid $grey-lighter;
  width: 20%;
  a {
    display: block;
  }
}

.approve-btn {
  color: white;
  background-color: $emerald-dark;
  height: 30px;
  float: top-left;
  padding: 8px;
  margin-bottom: 10px;
  &:hover {
    color: $charcoal;
  }
}

.reject-btn {
  background-color: $red;
}

.edit-btn {
  background-color: #EAD94C;
}

// Css for javascript Section

.selected-section {
  display: none;
}

.show-section {
  display: block !important;
}

.section-header-active {
  border-left: 2px solid $emerald-bright;
  background-color: $grey-lighter;
}

.begin {
  padding-bottom: 2px;
  border-bottom: 1px solid $emerald-dark;
}

.end {
  padding-bottom: 2px;
  border-bottom: 1px solid #C52233;
}

.status-show {
  font-size: larger;
  strong {
    padding-bottom: 2px;
    border-bottom: 1px solid #0099ff;
  }
}

.details {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
}

.detail-info {
  margin-left: 20px;
  text-align: right;
}

.permit-images {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.move {
  position: relative;
  margin-right: 60px;
  p {
    position: absolute;
    font-size: smaller;
  }
  .width {
    top: 16px;
    left: 60px;
  }
  .depth {
    top: 35px;
    left: 245px;
  }
  .length {
    top: 70px;
    right: -15px;
  }
}

.section {
  margin-top: 5vh;
  background-color: $charcoal;
  color: $emerald-bright;
  padding: 0 5px;
  border-radius: 3px;
  font-size: small;
  width: fit-content;
}
