.top-three-sections {
  display: flex;
  flex-direction: row;
  height: 65vh;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
}

.important-details {
  width: 50vw;
  display: flex;
  flex-direction: row;
}

.title-section {
  width: 25vw;
  padding-left: 10px;
  align-items: center;
}

.status-section {
  width: 25vw;
  margin-left: 15px;
  vertical-align: center;
}


.main-content {
  width: 50vw;
  height: 65vh;
  margin-left: 15px;
  overflow: scroll;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.show-buttons {
  display: flex;
  flex-direction: column;
}

.people-show {
  display: flex;
}

.comment-section {
  text-align: center;
}

.show-cont {
  background-color: white;
  padding: 20px;
}








