<div class="footer">
  <div class="footer-copyright">
    <p>about us</p>
    <p>blog</p>
    <p>press</p>
  </div>
   <div class="footer-copyright">
    <p>careers</p>
    <p>how it works</p>
    <p>faq</p>
  </div>
   <div class="footer-copyright">
    <p>contact: info@green-emerald.com</p>
  </div>
</div>
