<div class="top-index">
    <% if current_user.approver %>
      <h2>Awaiting my approval (<%= @pending_permits.size %>)</h2>
    <% elsif current_user.admin %>
      <h2>Admin</h2>
    <% elsif current_user.author %>
      <h2>My permits (<%= @permits.size %>)</h2>
    <% else %>
      <h2>Permits to be breifed</h2>
    <% end %>
    <% if current_user.admin || current_user.author || current_user.approver %>
      <%= link_to new_permit_path do %>
        <button class="btn btn-green">New permit</button>
      <% end %>
    <% end %>
  </div>
