<% if @permits.size > 10000 %>
  <P>TODO</P>
<% else %>
  <div class="nothing-card">
        <h5>no briefings scheduled</h5>
        <hr>
        <i class="fas fa-clipboard-check"></i>
      </div>
<% end %>
