<div class="status-container">
  <div class="icons">
    <div class="draft">
      <p class="status-text">Draft</p>
      <i class="fas fa-circle status-inactive"></i>
      <i class="fas fa-dot-circle status-active"></i>
      <i class="fas fa-check-circle status-inactive"></i>
    </div>
<!-- <i class="show fas fa-angle-double-right"></i> Chevrons? -->

    <div class="awaiting">
      <p class="status-text">Awaiting approval</p>
      <i class="fas fa-circle status-active"></i>
      <i class="fas fa-dot-circle status-inactive"></i>
      <i class="fas fa-check-circle status-inactive"></i>
    </div>
<!-- <i class="show fas fa-angle-double-right"></i> Chevrons? -->

    <div class="approved">
      <p class="status-text">Approved</p>
      <i class="fas fa-circle status-active"></i>
      <i class="fas fa-check-circle status-inactive"></i>
    </div>
  </div>
</div>

