<div class="status-container">

  <div class="icons">

    <div class="draft">
      <p>Draft</p>
      <i class="fas fa-bullseye status-inactive"></i>
      <i class="far fa-dot-circle status-inactive"></i>
      <i class="far fa-check-circle status-active"></i>
    </div>

    <div class="awaiting">
      <p>Awaiting approval</p>
      <i class="fas fa-bullseye status-active"></i>
      <i class="far fa-dot-circle status-inactive"></i>
      <i class="far fa-check-circle status-inactive"></i>
    </div>

    <div class="approved">
      <p>Approved</p>
      <i class="fas fa-bullseye status-inactive"></i>
      <i class="far fa-dot-circle status-active"></i>
      <i class="far fa-check-circle status-inactive"></i>
    </div>

  </div>

  <p class="progress-one"></p>
  <p class="progress-two"></p>

</div>
