<div class="banner">
  <h1>build safer</h1>

  <p>Create, monitor and manage your permits to reduce risks to worker safety, delays and to save money across all of your projects</p>

  <%= link_to new_user_registration_path do %>
  Sign-up
  <% end %>
</div>
