<div class="home-body">
  <div class="header-b-text">
    <h2>manage your permits</h2>
    <ul class="body-list">
      <li><h5>engineers</h5><p>create, edit and send your permits for approval</p></li>
      <li><h5>project managers</h5><p>approve and comment on permit proposals</p></li>
      <li><h5>supervisors</h5><p>send brefing invites to site staff and breif live</p></li>
      <li><h5>site staff</h5><p>join a brefing and log your attendance</p></li>
    </ul>
  </div>
    <div class="phone-image">
      <img class="phone" src="https://i1.wp.com/www.titanui.com/wp-content/uploads/2017/02/12/Black-iPhone-7-SVG-Icon.jpg?w=415&ssl=1" alt="phone">
    </div>
</div>
