<div class="home-body">
  <div class="header-b-text">
    <h2>manage your permits</h2>
    <ul class="body-list">
      <li><h5>Create</h5><p>create, edit and send your permits for approval</p></li>
      <li><h5>Approve</h5><p>create, edit and send your permits for approval</p></li>
      <li><h5>Create</h5><p>create, edit and send your permits for approval</p></li>
      <li><h5>Create</h5><p>create, edit and send your permits for approval</p></li>
    </ul>
  </div>
    <!-- <div class="phone-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551817958-d9d86fb29431?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)">
    </div> -->
    <div class="phone-image">
      <img class="phone" src="https://images.unsplash.com/photo-1551817958-d9d86fb29431?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="phone">
    </div>
</div>
