<h1>to approve</h1>
<% @pending_permits.each do |permit| %>
  <%= link_to permit.title, permit_path(permit) %>
<% end %>


<h1>approved</h1>
<% @approved_permits.each do |permit| %>
  <%= link_to permit.title, permit_path(permit) %>
<% end %>

<h1>Rejected</h1>
<% @rejected_permits.each do |permit| %>
<%= link_to permit.title, permit_path(permit) %>
<% end %>
