<h2>Links</h2>
<%= link_to new_permit_path do %>
  New Permit
<% end %>

<hr>

<h2>Data</h2>
<% @permits.each do |permit| %>
  <%= link_to permit_path(permit) do %>
    <p><%= permit.id %></p>
    <p><%= permit.title %></p>
  <% end %>
<% end %>


