<div class="container col-8">
  <div class='top-bar'>
    <div class="top-lhs">
      <h3>Permits</h3>
    </div>
    <div class="btn-emerald-top">
      <%= link_to new_permit_path do %>
        <button>New Permit</button>
      <% end %>
    </div>
  </div>






















<div class="recc">

  <h4>Reccomended</h4>
  <% @permits.each do |permit| %>
    <%= link_to permit_path(permit) do %>
      <p><%= permit.id %></p>
      <p><%= permit.title %></p>
    <% end %>
  <% end %>



</div>






</div>



