<div class="container col-6" style="margin-top: 30px;">
  <%= simple_form_for @permit, url: permit_submit_request_path(@permit) do |f| %>
    <%= f.input :approver_id, collection: User.where(approver: true), label_method: :fullname, default: @permit.approver %>
    <div class="confirm-cancel" style="text-align:right;">
      <%= f.button :submit, value: "Cancel", name: "cancel", class: "reject-btn", style: "width:inherit;" %>
      <%= f.button :submit, value: "Confirm & Submit", name: "submit", class:"btn-green2", data: {disable_with: "submitting bro"} %>
    </div>
  <% end %>
</div>
