.banner {
  background-image: url(banner.jpeg);
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 110px;
  // padding-top: 100px;
  vertical-align: center;
  @media only screen and (max-width: 576px) {
    padding-left: 20px;
  }
}

.banner-btn {
  color: white;
  background-color: $emerald-dark;
  height: 35px;
  // display: flex;
  align-items: center;
  opacity: 0.85;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  &:hover {
    color: white;
    opacity: 1;
  }
}

// @media only screen and (max-width: 600px) {
//   obdy {
//     background-color: lightblue;
//   }
// }
