.btn-emerald-header {
  color: white;
  background-color: $emerald-dark;
  height: 35px;
  display: flex;
  align-items: center;
}

.btn-emerald-top {
  color: white;
  background-color: $emerald-dark;
  height: 60px;
  display: flex;
}



