.navbar-lewagon {
  // justify-content: space-between;
  background: $charcoal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 55px;
}


.navbar {
  @media only screen and (max-width: 576px) {
    flex-wrap: none !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.input-append {
  display: flex;
  padding: 0;
}

.input-medium {
  border-radius: 0px;
  height: 35px;
  border: none;
  padding-left: 15px;
  padding-right: 60px;
  background-color: $grey-lightest;
  position: relative;
  outline: none;
  &:hover {
  background-color: white;
  outline: none;
  }
}

@media only screen and (max-width: 576px) {
  .input-medium {
    padding-right: 0px;
    margin-right: none;
    width: 110px;
  }
}

.lhs img {
  height: 70px;
  padding-right: 10px;
  display: inline;
  float: left;
}


.btn-yellow {
  height: 36px;
  background-color: yellow;
  // border: 1px solid #bfbfbf;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  // text-decoration: none;
  // font-weight: lighter;
  &:hover {
    background-color: #fffbaf;
  }
}

.btn-blue {
  height: 40px;
  color: red;
  // background-color: $green;
  // border: 1px solid #bfbfbf;
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 15px;
  // text-decoration: none;
  // font-weight: lighter;
  &:hover {
    background-color: #c6fdff;
  }
}

.lhs {
  display: flex;
  align-items: center;
  height:40px;
  padding-left: 94px;
}
.notice {
  position: absolute;
}

.emerald-nav {
  color: $emerald-dark;
  margin-top: 12px;
  margin-right: 28px;
  text-decoration: none;
  &:hover {
  text-decoration: none;
  color: $emerald-dark;
  }
}

.btn-invisible {
  background-color: $charcoal;
  color: white;
  outline: none;
  padding-right: 94px;
  &:hover {
    color: #c4c4c4;
    outline: none;
  }
}

.badge {
  padding-right: 94px;
  position: relative;
}

.badge-num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #ff4c00;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  left: -5px;
  color: white;
}


