.permit-card {
  height: 250px;
  display: flex;
  align-items: space-between;
  box-shadow: 1px 1px 1px rgba(222, 222, 222, 0.5);
  background-color: white;
  padding: 10px;
  margin-right: 10px;
  width: 250px;

  .permit-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .card-top {
    border-bottom: 0.5px solid #dedede;
    padding-bottom: 8px;
    height:48px;
    }

  .card-mid {
    height: 110%;
    display: flex;
    justify-content: space-around;

    .permit-type-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .permit-type-img {
        width: 80px;
        height: 80px;
        opacity: 0.1;
        position: relative;
        top: 4px;
        right: 69px;
      }
    }
  }

    .card-bottom {
      border-top: 0.5px solid #dedede;
      padding-top: 6px;
      margin-top: 50px;
      padding-left: 0px;
      margin-left: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .charcoal {
      color: $charcoal;
    }

    .grey-light {
      color: $grey-light;
      // padding-left: 0;
    }

    * {
      margin: 0;
    }

    h2 {
      font-size: 12px;
      font-weight: 700;
    }

    p {
      font-size: 10px;
    }
  }
}

.icons-container {
  display: flex;
  position: absolute;
  top: 50px;
  right: 4px;

  span {
    font-size: 10px;
    padding-top: 7px;
    padding-right: 3px;
    text-decoration: none;
  }

  .icon-status {
  font-size: 12px;
  margin-right: 4px;
  margin-top: 9px;
  }

.avatar-card-permit{
  position: relative;
  bottom: -6px;
}

  .img-tooltip {
    // position: absolute;
    font-size: 16px;
      &:hover .tooltip-text{
        position: absolute;
        display: inline-block;
        white-space: nowrap;
      }
    .tooltip-text {
      display: none;
      background-color: $emerald-dark;
      color: $charcoal;
      font-size: 10px;
      text-align: center;
      padding: 2px 4px 2px 4px;
      z-index: 1;
    }
  }
}

.status-draft {
  color: $status-draft;
}
.status-pending {
  color: $status-pending;
}
.status-rejected {
  color: $status-rejected;
}
.status-approved {
  color: $status-approved;
}
  .status-expired {
  color: $status-expired;
}

.validity {
  color: $grey-light;
}

.red {
  color: $red;
  font-weight: 400;
}

.amber {
  color: $emerald-amber;
}

.green {
  color: $emerald-dark;
}

.archive-btn {
  padding: 5px 8px;
  font-size: 10px;
  color: $charcoal!important;
  display: none;
  background-color: $emerald-dark;
  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
}

.text-status {
  position: relative;
  bottom: -4px;
}
