.user-card {
  background: white;
  text-align: center;
}

.card-pic {
  height: 150px;
  width: 250px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: top;
}

.right-card {
  color: $charcoal;
}

.card-email {
  background-color: $charcoal;
  padding-top: 15px;
  padding-bottom: 15px;
  text-size: 3px;
  margin-top: 15px;
  border-bottom: 2px solid rgba(27, 170, 111, .2);
  &:hover {
    border-bottom: 2px solid $emerald-dark;
    cursor: pointer;
  }
}

#email-text a {
  text-size: 5px !important;
  text-decoration: none;
  color: white;
}

#person-cards a {
  color: white;
}
