.status-container {
  width: 50vw;
  margin: 0 auto 30px auto;
  position: relative;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

.draft, .awaiting, .approved {
  .fa-check-circle {
    font-size: 25px;
    color: $emerald-dark;
    text-align: center;
  }
  .fa-dot-circle {
    font-size: 25px;
    color: $status-draft;
    text-align: center;
  }
  .fa-bullseye {
    font-size: 25px;
    color: $emerald-dark;
    text-align: center;
  }
  .fa-circle {
    font-size: 25px;
    color: $grey-light;
    text-align: center;
  }
  p {
    margin-bottom: 8px;
  }
}

.status-active {
  display: block;
}

.status-inactive {
  display: none;
}
